@import "core/mixins";
@import "core/variables";

* {
  font-size: 14px;
  font-family: "Roboto", serif;
}

body {
  background-color: #F9FAFC;
  color: #222428;
  }

  .a-align {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }

  .button-align {
    display: flex;
    justify-content: right;
  }

  .margin-inp {
    margin-bottom: 40px;
  }

  .inp-align {
    display: flex;
    justify-content: space-between;

      input {
        margin: 0;
        width: 48%;
      }
  }

  .terms {
    margin-top: 30px;
  }

  .recapcha {
    width: 50%;
    margin-bottom: 40px;
  }

  .pass-reliability {
    display:flex;
    justify-content: space-between;

      .items{
        width: 33.33%;
        height: 6px;
        margin-right: 5px;
        background-color: #EBEFF3;
        // background-color: #FFB966;
        // background-color: #38ECAC;
        border-radius: 2px;

          &:first-child{
            background-color: #FF6359;
          }

          &:last-child{
            margin: 0;
          }
      }
  }