@import "core/mixins";
@import "core/variables";

* {
  font-size: 14px;
  font-family: "Roboto", serif;
}

body {
  background-color: #F9FAFC;
  color: #222428;
  }

  .a-align {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }

  .button-align {
    display: flex;
    justify-content: right;
  }

  .margin-inp {
    margin-bottom: 40px;
  }

  .inp-align {
    display: flex;
    justify-content: space-between;

      input {
        margin: 0;
        width: 48%;
      }
  }