.f-row {
  display: flex;
}
.f-row-50 {
  width: 50%;
}
.t-r {
  text-align: right;
}
.t-a-c {
  text-align: center;
}
.t-a-l {
  text-align: left;
}
.t-a-r {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.fwb {
  font-weight: bold;
}
.p-10 {
  padding: 10px;
}
.m-20 {
  margin: 20px;
}


